body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

.container {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #747d8a;
}

iframe{
  width: 100% !important;
  min-width: 200px !important;
  border: unset;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 0;
  width: 100%;
}

.navigation-logo img {
  height: 122px;
  width: 100px;
}


#navigation {
  display: flex;
  flex-direction: column;
  width: 232px;
  gap: 15px;
  width: 100%;
}


.height-100 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-height: 100vh;
  width: 100%;
  background-color: #091931;
}


#container1 {
  background-color: #091931;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-top: 64px;
}


#navigation a {
  gap: 8px;
  width: 100%;
  height: 60px;
  color: #CDCDCD;
}

.m-left{
  margin-left: -10px;
}

.current-hoover:hover{
  background-color: rgb(13, 11, 36);
}

.impressum-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

#impressum {
  position: absolute;
  bottom: 36px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

#impressum a {
  display: flex;
  justify-content: center;
  color: rgb(168, 168, 168);
  font-weight: 400;
  font-size: 16px;
  height: 35px;
  gap: 8px;
  width: 65%;
}

#impressum a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.05);
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}

#responsive-navigation a:hover {
  background-color: #091931;
  border-radius: 30%;
}

.current-link {
  background-color: rgb(13, 11, 36);
}