@media(max-width: 800px) {

    .kanban,
    .help-sign {
        display: none;
    }

    .join-logo-responsive {
        display: flex;
        height: 50px;
        padding-left: 30px;
    }
}

@media(min-width: 800px) {
    .join-logo-responsive {
        display: none;
    }
}

